apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"phi3-mini"},"name":"phi3-mini","namespace":"vllm-chat"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"phi3-mini"}},"template":{"metadata":{"labels":{"app":"phi3-mini"}},"spec":{"containers":[{"args":["vllm serve microsoft/Phi-3.5-mini-instruct --dtype=float16 --tensor-parallel-size 1 --max-model-len 8192 --max-num-batched-tokens 8192 --max-num-seqs 12 --trust-remote-code --gpu-memory-utilization 0.80"],"command":["/bin/sh","-c"],"env":[{"name":"HUGGING_FACE_HUB_TOKEN","valueFrom":{"secretKeyRef":{"key":"token","name":"hf-token-secret"}}}],"image":"vllm/vllm-openai:v0.10.0","name":"phi3","ports":[{"containerPort":8000}],"resources":{"limits":{"cpu":"8","memory":"16G","nvidia.com/gpu":"1"},"requests":{"cpu":"2","memory":"6G","nvidia.com/gpu":"1"}},"volumeMounts":[{"mountPath":"/root/.cache/huggingface","name":"cache-volume"},{"mountPath":"/dev/shm","name":"shm"}]}],"volumes":[{"name":"cache-volume","persistentVolumeClaim":{"claimName":"gemma3-cache"}},{"emptyDir":{"medium":"Memory","sizeLimit":"4Gi"},"name":"shm"}]}}}}
  creationTimestamp: "2026-01-04T16:37:13Z"
  generation: 1
  labels:
    app: phi3-mini
  name: phi3-mini
  namespace: vllm-chat
  resourceVersion: "57569670"
  uid: f3625c79-ccbd-40fc-9139-bd77fdd7e14d
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: phi3-mini
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: phi3-mini
    spec:
      containers:
      - args:
        - vllm serve microsoft/Phi-3.5-mini-instruct --dtype=float16 --tensor-parallel-size
          1 --max-model-len 8192 --max-num-batched-tokens 8192 --max-num-seqs 12 --trust-remote-code
          --gpu-memory-utilization 0.80
        command:
        - /bin/sh
        - -c
        env:
        - name: HUGGING_FACE_HUB_TOKEN
          valueFrom:
            secretKeyRef:
              key: token
              name: hf-token-secret
        image: vllm/vllm-openai:v0.10.0
        imagePullPolicy: IfNotPresent
        name: phi3
        ports:
        - containerPort: 8000
          protocol: TCP
        resources:
          limits:
            cpu: "8"
            memory: 16G
            nvidia.com/gpu: "1"
          requests:
            cpu: "2"
            memory: 6G
            nvidia.com/gpu: "1"
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /root/.cache/huggingface
          name: cache-volume
        - mountPath: /dev/shm
          name: shm
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: cache-volume
        persistentVolumeClaim:
          claimName: gemma3-cache
      - emptyDir:
          medium: Memory
          sizeLimit: 4Gi
        name: shm
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2026-01-04T16:37:14Z"
    lastUpdateTime: "2026-01-04T16:37:15Z"
    message: ReplicaSet "phi3-mini-67978798c8" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2026-01-04T19:20:49Z"
    lastUpdateTime: "2026-01-04T19:20:49Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
